<p><%= link_to 'One Thing I Learned...', new_learning_path %></p>

<%- unless @recent_learnings == nil -%>
  <% @recent_learnings.each do |learning| %>
    <p><%= learning.content %> &mdash; <%= learning.user.display_name %></p>
  <% end %>
<%- end -%>
