<div class="learning-index">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <h1 class="profile-greeting">Hello <%= @user.display_name %>!</h1>
        <img src="<%= @img_url %>" class="profile-picture">
        <div class="row">
          <%- if current_user == @user -%>
            <%= simple_form_for(@user) do |f| %>
              <%= f.input :display_name, label: false, :input_html => { value: "Change username", class: "username-textarea" } %>
              <input class="btn btn-info btn-lg save" name="save" type="submit" value="Save">
            <% end %>
          <%- end -%>
        </div>
      </div>
    </div>
  </div>
</div>
